<div class="scroll-to-div" id="gamejams">
<div class="container">
    <div id="portfoliowrap">
        <div class="portfolio-centered">
            {% if include.title %}<h1 class="Title">{{ include.title }}</h1>{% endif %}
        </div>
    </div>
    {% assign loopindex = 0 %}
    {% for project in site.projects %}
        {% if project.type == "gameJam" %}
            {% include portfolioTemplate.html %}  
        {% endif %}
    {% endfor %}
    {% if rowfinder != 0 %}
        </div>
    {% endif %}
    </div>
</div>
</div>