<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Ian Hudson</h1>
                <h3>Student - Computer Games Programmer</h3>
                <h5></h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ site.homeImage | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->