---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        <div class="col-lg-10 col-lg-offset-1 centered">
            {% for img in page.TitleImgs.first %}
                <div class="item active">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ img }}" alt="">
                </div>
            {% endfor %}
            
            {% for vid in page.TitleVideo.first %}
                <div class="item active">
                    <iframe width="960" height="540" src="{{ vid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %}

        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <div class="col-lg-4">
                <p><b>Platform:</b></p>
                {% for platform in page.Platform %}
                <p style="text-indent: 40px">-{{platform}}</p>
                {% endfor %}
            </div>
            <div class="col-lg-4 col-lg-push-1">
                <p><b> Engine/Language:</b></p>
                <p style="text-indent: 40px">-{{ page.EngineLanguage }}</p>
            </div>
            <div class="col-lg-4 col-lg-push-2">
                <p><b> Project:</b></p>
                {% for project in page.Project %}
                <p style="text-indent: 40px">-{{ project }}</p>
                {% endfor %}
                
            </div>
            
            <center>
                 {% for link in page.GithubLink.first %}
                    <a href="{{ link }}" target="_blank" class="btn-social btn-outline">
                        GitHub Link:<img src="/assets/img/GitHub_Logo.png" width="20%" height="20%">
                    </a>
                {% endfor %}
            </center>
        </div>

        <div class="col-lg-8 col-lg-offset-2">
            <div class="spacing"></div>

            {{ content }}

        </div>
    </div><! --/row -->
</div><! --/container -->
<script type="text/javascript">
     SyntaxHighlighter.all()
</script>

<!--{% include portfolio.html title="Related Works." limit=5 %}-->